<div on-click="lol">
  {{#work(data, languages)}}
    {{#sections}}
      <section class='section'>
        <h2 class='title'>{{title}}</h2>

        {{#subsections}}
          <table class='article'>
            <tr>
              <th colspan='10'>
                <h3 class='article-head'>{{title}}</h3>
              </th>
            </tr>

            <tr>
              {{#languages}}
                <td>
                  <div class='code'>
                    {{#(!code && !text)}}
                      &mdash;
                    {{/}}

                    {{#code}}
                      <pre class="hljs lang-{{language}}">{{{highlight(language, code)}}}</pre>
                    {{/}}
                  </div>
                </td>
              {{/}}
            </tr>

            <tr>
              {{#languages}}
                <td>
                  {{#text}}
                    <div class='text'>
                      {{{text}}}
                    </div>
                  {{/}}
                </td>
              {{/}}
            </tr>

          </table>
        {{/}}

      </section>
    {{/}}
  {{/}}
</div>
