<div on-click="lol">
  {{#work(data, languages)}}
    {{#sections}}
      <section class='section'>
        <table>
          <tr class='section-head'>
            <th class='level-2' colspan='10'>{{title}}</th>
          </tr>

          {{#subsections}}
            <tr class='article-head'>
              <th class='level-3' colspan='10'>{{title}}</th>
            </tr>

            <tr class='article'>
              {{#languages}}
                <td>
                  {{#(!code && !text)}}
                    &mdash;
                  {{/}}

                  {{#code}}
                    <pre class="hljs lang-{{language}}">{{{highlight(language, code)}}}</pre>
                  {{/}}

                  {{#text}}
                    <div class='text'>
                      {{{text}}}
                    </div>
                  {{/}}
                </td>
              {{/}}
            </tr>

          {{/}}

        </table>
      </section>
    {{/}}
  {{/}}
</div>
