<div on-click="lol">
  {{#work(data, languages)}}
    <table>
      <thead>
        <tr>
          {{#languages}}
            <th>{{id}}</th>
          {{/}}
        </tr>
      </thead>

      {{#sections}}
        <tr class='section-head'>
          <th class='level-2' colspan='10'>{{title}}</th>
        </tr>

        {{#subsections}}
          <tr class='article-head'>
            <th class='level-3' colspan='10'>{{title}}</th>
          </tr>

          <tr class='article'>
            {{#languages}}
              <td>
                {{#(!code && !text)}}
                  &mdash;
                {{/}}

                {{#code}}
                  <pre>{{code}}</pre>
                {{/}}

                {{#text}}
                  <div class='text'>
                    {{{text}}}
                  </div>
                {{/}}
              </td>
            {{/}}
          </tr>

        {{/}}

      {{/}}
    </table>
  {{/}}
</div>
