/*
 * each thing
 */

.article
  &
    margin: 10px auto
    max-width: $column * 2
    clearfix()

  table
    table-layout: fixed
    border-collapse: collapse
    width: 100%

  table, td, th, tr
    border-radius: 4px

  td, th
    max-width: $column

  .article-languages
    opacity: 0
    transition: all 100ms linear
    margin-top: -40px

  &:hover .article-languages
    opacity: 1

  .-with-1 &
    max-width: $column * 1.5

/*
 * head
 */

.article-head
  margin: 30px 0 15px 0
  padding: 0
  color: $accent
  font-size: 1.15em
  font-weight: 400
  border-radius: 4px

  &:before
    ion-icon('chevron-down')
    font-size: 12px
    display: inline-block
    margin-right: 10px
    color: $accent

    width: 18px
    height: @width
    line-height: @width + 1px
    text-align: center
    border: solid 2px $accent
    border-radius: 50%

  // .with-1 &
  //   max-width: $column + 100px
  //   margin-left: auto
  //   margin-right: auto
