html, body
  margin: 0
  padding: 0

body
  font-family: 'Clear Sans', sans-serif
  font-size: 15px
  line-height: 1.5

body
  background: $bg

*
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  box-sizing: border-box

table
  margin: auto
  border-collapse: collapse
  table-layout: fixed

  th, td
    border: 0
    text-align: left
    vertical-align: top

pre
  padding: 0
  margin: 0
  font-family: 'source code pro', menlo, monospace
  font-size: 1em
  letter-spacing: -1px
  line-height: 1.4

italic-type()
  font-style: italic
  font-family: merriweather, serif
