.hero
  background: url("https://ununsplash.imgix.net/photo-1415201179613-bd037ff5eb29?q=75&w=1080&h=1080&fit=max&fm=jpg&s=f9b6be3c00dd4c17533a671a0b15b4f7") center center / cover
  background: white
  height: 660px
