.language-header
  &
    clearfix()
    margin-bottom: 8px

  .xright
    border-bottom: solid 1px $line
    padding-bottom: 8px

  .lang
    padding-top: 4px
    padding-bottom: 4px

    width: 50%
    float: left
    color: $slate
    font-weight: bold
    font-size: 0.9em

  .lang:before
    ion-icon('record', 10px)
    margin-right: 12px
    color: $accent2
    margin-left: 4px

  .lang
    padding-left: 12px
