.navbar
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  z-index: 20

  $height = 50px

  .controls
    position: relative
    z-index: 5
    background: mix($bg, white, 50%)
    height: $height
    line-height: $height - 1px
    box-shadow: 0 0 1px rgba(black, 0.1)

  .right
    position: absolute
    right: 15px
    font-size: 0.9em
    top: 0

  .container
    width: $column * 2
    margin: 0 auto
    position: relative

  .lang
    position: relative

  .dropdowns
    position: absolute
    bottom: $height
    left: 0
    width: 100%
    z-index: 1

  .lang-button
    width: $column
    height: $height
    line-height: $height - 1px
    padding: 0 (30px - 18px)
    display: inline-block
    float: left
    text-decoration: none
    text-align: left
    display: block

    font-size: 0.9em
    font-weight: bold
    color: $slate
    border-right: solid 1px rgba($line, 0.1)

    &:first-child
      border-left: solid 1px rgba($line, 0.1)

    &:hover
      cursor: pointer
      background: rgba($bg - 2%, 0.25)

  .lang-button:before
    display: inline-block
    content: ''
    width: 8px
    height: 8px
    border-radius: 50%
    background: $accent2
    margin-right: 10px

  :focus
    outline: 0

/*
 * dropdown
 */

.mega-dropdown
  &
    overflow: hidden
    background: rgba($slate - 50%, 100%)
    box-shadow: 0 1px 15px rgba(black, 0.1)
    transition: transform 250ms ease, opacity 250ms ease

  &.-visible
    transform: translate(0, 0)
    opacity: 1

  &.-hidden
    pointer-events: none
    transform: translate(0, 100px)
    opacity: 0

  .lang-dropdown
    width: 50%
    float: left

/*
 * dropdown
 */

.lang-dropdown
  &
    min-width: 190px
    font-size: 0.9em
    padding: 15px 0

  ul, li
    margin: 0
    padding: 0
    list-style: none

  button
    display: block
    text-align: left
    width: 100%
    padding: 5px 15px
    line-height: 1.2em
    text-decoration: none
    color: #ddd
    font-weight: bold

  button:hover, button:focus
    color: #fff
    background: rgba($slate, 0.05)

  button.-active
    color: $accent2
