#nav

.navbar
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  z-index: 20

  $height = 50px

  background: mix($bg, white, 50%)

  height: $height
  line-height: $height
  box-shadow: 0 0 1px rgba(black, 0.1)

  .container
    width: 800px
    margin: 0 auto

  .lang
    width: 400px
    padding: 0 (30px - 18px)
    display: inline-block
    float: left

    font-size: 0.9em
    font-weight: bold
    color: $slate
    border-right: solid 1px rgba($line, 0.1)

    &:first-child
      border-left: solid 1px rgba($line, 0.1)

    &:hover
      cursor: pointer
      background: rgba($bg - 1%, 0.25)

    &:before
      display: inline-block
      content: ''
      width: 8px
      height: 8px
      border-radius: 50%
      background: $accent2
      margin-right: 10px
