/*
 * syntax
 */

.hljs
  $c = #567 - 15%
  &
    color: $c

  .hljs-keyword
    color: $c + 30%

  .hljs-title
    font-weight: bold
    color: $c

  .hljs-comment
    color: mix($c, white, 50%)

  .hljs-comment.-mini
    font-family: merriweather, serif
    letter-spacing: .02em
    font-size: .9em
    font-style: italic

  .hljs-symbol,
  .hljs-string,
  .hljs-number,
  .hljs-regexp
    color: $accent2

  .hljs-ellipsis
    &:before
      color: mix($c, white, 50%)
      content: '···'
      background: rgba(#888, 0.1)
      border-radius: 2px
      padding: 0 5px
      font-size: 0.9em

  .hljs-result
    color: mix($c, white, 50%)
    &:before
      ion-icon('arrow-right-c', 12px)
      margin-right: 10px
      color: $accent

  .hljs-hr
    height: 1px
    line-height: 0
    &:before
      height: 1px
      content: ''
      display: block
      width: 100%
      background: linear-gradient(to right, #eee 50%, rgba(#eee, 0.0))
      margin: 1.2em -20px

  .hljs-doclink
    &:before
      position: relative
      top: -1px

      ion-icon('arrow-up-c', 12px)
      transform: rotate(45deg)
      height: 20px
      line-height: @height - 1px
      text-indent: -1px
      width: @height
      text-align: center
      position: relative
      // border: solid 1px rgba($accent3, 0.2)
      border-radius: 50%
      margin-left: 1em
      background-color: rgba($line, 0.1)
      color: $accent
      transition: color 100ms linear, background-color 100ms linear

    &:hover:before
      background-color: $accent3
      color: white

  a
    color: $darkslate
    text-decoration: none
    link-style()

  a:hover
    color: $xblack

  code
    font-family: merriweather, serif
    color: $slate
