/*
 * syntax
 */

.hljs
  &
    color: #456

  .hljs-keyword
    // color: #345

  .hljs-title
    font-weight: bold
    // color: #345

  .hljs-comment
    color: mix($slate, white, 75%)
    font-style: italic
    font-family: merriweather, serif
    letter-spacing: 1px
    font-size: 0.9em

  .hljs-symbol,
  .hljs-string,
  .hljs-number
    color: #1a8

