/*
 * syntax
 */

.hljs
  $c = #567 - 15%
  &
    color: $c

  .hljs-keyword
    color: $c + 30%

  .hljs-title
    font-weight: bold
    color: $c

  .hljs-comment
    color: mix($c, white, 50%)

  .hljs-symbol,
  .hljs-string,
  .hljs-number,
  .hljs-regexp
    color: $accent2

