@import 'nib'

body
  font-family: 'source sans pro', sans-serif
  font-size: 14px
  line-height: 1.5

*
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

table
  margin: auto
  border-collapse: collapse

  th, td
    border: 0
    text-align: left
    vertical-align: top

  td
    padding: 20px 20px 40px 0

  .section-head th
    font-size: 2em
    font-weight: 200
    padding: 20px 0

  .article-head th
    padding: 5px 0
    border-bottom: solid 1px #ddd
    color: #1a8
    font-size: 0.9em

  .text
    color: #aaa

  pre
    padding: 0
    margin: 0
    font-family: menlo, monospace
    font-size: 0.86em
    line-height: 1.4
    padding-left: 20px
    border-left: solid 2px #ddd

/*
 * syntax
 */

.hljs
  &
    color: #333

  .hljs-keyword
    color: #459

  .hljs-title
    font-weight: bold
    color: #234

  .hljs-comment
    color: #999

  .hljs-string,
  .hljs-number
    color: #1a8
