@import 'nib'
@import url('//brick.a.ssl.fastly.net/Clear+Sans:100,400,700')
@import url('//brick.a.ssl.fastly.net/Source+Code+Pro:400,700')
@import url('http://fonts.googleapis.com/css?family=Merriweather:300italic')
@import '../node_modules/iconfonts/stylesheets/ionicons.styl'

$accent = #f66
$accent2 = dodgerblue
$line = #d0d5da + 10%
$xblack = #111
$slate = #789
$liteslate = $slate + 20%
$darkslate = $slate - 40%
$bg = #f1f3f5
$column = 430px

@require './css/base'
@require './css/*'
